.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;
	align-items: center;
	outline-offset: 8px;
}

.summary {
	line-height: 1.5;
}

.author {
	font-weight: 600;
}

.image {
	width: 100%;
	height: auto;
	border-radius: 5px;
}

@media(max-width: 700px) {
	.container {
		grid-template-columns: 1fr;
		gap: 0;
	}
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: auto;
}
