:root {
	--header-height: 64px;
	--purple-grey: rgb(137, 145, 168);
	--media-tablet: 1000px;
	--media-phone: 700px;
}

* { box-sizing: border-box; }

header, footer {
	background: var(--purple-grey);
	width: 100%;
	color: #111;
	font-size: 1.2rem;
}

/* Layout */
body { margin: 0; }
main {
	flex-grow: 1;
	padding: calc(var(--header-height) + 40px) 20px 40px 20px;
}
.container { padding: 0 20px; }
.container, main {
  width: 1240px;
	max-width: 100%;
	margin: auto;
}

.ft {
	width: fit-content !important;
}

/* Theme Provider (direct child of body) */
.theme {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 800ms all ease;
}

.light {
	background: #eee;
}
.dark {
	background: #444;
	color: #fff;
}

/* Links and Buttons */
button {
	padding: 20px 28px;
	border: none;
	border-radius: 5px;
	background: var(--purple-grey);
	color: #fff;
	font-family: inherit;
	font-size: inherit;
	text-align: inherit;
	cursor: pointer;
}

.menu-link {
	text-decoration: none;
	font-weight: 600;
	color: currentColor;
}

/* --media-tablet 1000px */
@media(max-width: 1000px) {
	.menu-link {
		font-weight: 400;
	}
}

.link-button {
	display: inline-block;
	width: fit-content;
	padding: 20px 28px;
	border-radius: 5px;
	background: var(--purple-grey);
	color: #fff;
	text-decoration: none;
}

/* Remove default styling */
.button-unstyled {
  padding: 0;
  border: 0;
  background: none;
  box-shadow: none;
	color: inherit;
}

.link-unstyled {
	text-decoration: none;
	color: currentColor;
}

.ul-unstyled {
	padding: 0;
	margin: 0;
	list-style: none;
}

/* Form styles */
.form-field {
	margin-bottom: 20px;
}

.label {
	display: block;
	font-size: 0.9em;
	font-weight: 600;
	margin-bottom: 2px;
}

.input {
	width: 100%;
	padding: 10px 4px;
	border: 2px solid grey;
	font-size: 1rem;
	font-family: inherit;
}

/* Media query based DOM rendering */
.mobile-only { display: none; }
.mobile-never { display: none; }
@media(max-width: 700px) {
	.mobile-only { display: initial; }
}
@media(min-width: calc(700px + 1px)) {
	.mobile-never { display: initial; }
}

.tablet-only { display: none; }
.tablet-never { display: none; }
@media(max-width: 1000px) {
	.tablet-only { display: block; }
}
@media(min-width: calc(1000px + 1px)) {
	.tablet-never { display: block; }
}
