.categoryTitle {
	font-size: 4rem;
	background: var(--purple-grey);
	width: 100%;
	padding: 8px
}

.item {
	--gap: 80px;
	display: flex;
	gap: var(--gap);
	margin-bottom: var(--gap);
	align-items: center;
}

.item:nth-child(2n) {
	flex-direction: row-reverse
}

.image {
	display: block;
	width: calc(50% - (var(--gap) / 2));
	height: auto;
	flex-shrink: 0;
}

.item h2 {
	font-size: 3rem;
}

.item p {
	font-size: 1.2rem;
}

@media(max-width: 700px) {
	.item {
		flex-direction: column;
		gap: 0;
	}
	.item:nth-child(2n) {
		flex-direction: column;
	}
	.image {
		width: 100%;
	}
	.item h2 {
		width: 100%;
	}
	.item h2,
	.item p {
		margin: 14px 0;
	}
}
