.container {
	max-width: 500px;
	margin: auto;
}

.changeFormLink {
	display: block;
	margin-top: 20px;
	text-decoration: none;
	color: navy;
}

.changeFormLink:hover {
	text-decoration: underline;
}

.githubLoginButton {
	background: var(--purple-grey);
	margin-bottom: 40px;
}

.githubLoginButton:hover {
	background: lightgrey;
}

.githubLoginButton img {
	max-width: 140px;
	height: auto;
}